.set-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%; 
  margin-top: 20px;
}

.controls {
  margin-top: 20px;
}

.controls button {
  padding: 5px 10px;
  margin: 0 5px;
  cursor: pointer;
  color: white;
  background-color: rgb(67, 213, 218);
  border: none;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}

.controls button:hover {
  background-color: rgb(67, 213, 218);
  transition: all 0.2s ease-in-out;
}